.pages {

  display: flex;
  gap: 50px;
  margin-left: 35%;
}

.pages a {
  text-decoration: none;
  padding: 10px;
  color: black;
  font-size: 18px;
  border: 2px solid transparent;
  transition: 0.3s;
}

.pages a.active {
  color: white;
  background-color: #c5079f;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px 15px;
}
